*
{box-sizing:border-box;}

.col-1{  width:8.33%;}
.col-2{  width:16.66%;}
.col-3{  width:25%;}
.col-4{  width:33.33%;}
.col-5{  width:41.66%;}
.col-6{  width:50%;}
.col-7{  width:58.33%;}
.col-8{  width:66.66%;}
.col-9{  width:75%;}
.col-10{  width:83.33%;}
.col-11{  width:91.66%;}
.col-12{  width:100%;}

[class*='col-']{
    float: left;
    box-sizing:border-box;
    border:1px solid;
}

.headertop-height{height:40px;}
.header-height{height:200px;}
.menu-height{height:50px;}
.content-height{height:400px;}
.subcontent-height{height:200px;}
.footer-height{height:40px;}

.row:after{
    content: ' ';
    display: block;
    clear: both;
}

.wrapper{
    width:80%;
    height:auto;
    margin:auto;
}

.menu-ul{
    margin: 0px;
    padding:0px;
    list-style-type: none;
    transition: 2s;

}

.menu-ul li{
    float: left;
    width:120px;
    border:1px solid grey;
    text-align: center;

}

.menu-ul li a{
    text-decoration: none;
    display: block;
    cursor: pointer;
    height:47px;
    padding-top: 15px;
    background-color: black;
    color:white;

}

.menu-ul li a:hover{
    background: white;
    color: #000;
}

/*.div-one{*/
    /*height:200px;*/
    /*width:200px;*/
    /*background:red;*/
    /*margin:50px 0px 0px 5px;*/
    /*!*border-radius: 50%;*!*/
    /*transform:skewy(25deg);*/
    /*float: left;*/
/*}*/
/*.div-two{*/
    /*height:200px;*/
    /*width:200px;*/
    /*background:red;*/
    /*margin:50px 0px 0px 5px;*/
    /*!*border-radius: 50%;*!*/
    /*transform:skewy(-25deg);*/
    /*float: left;*/
/*}*/



.div-one{
    height:200px;
    width:200px;
    background:red;
    margin:50px 0px 0px 50px;
    /*border-radius: 50%;*/
    /*transform: rotateX(0deg);*/
     /*background: linear-gradient(to left, red, green,red);*/
    float: left;
    transition: 1s;
    animation: bitm;
    animation-duration: 2s;
    animation-iteration-count: 3;

}

@keyframes bitm {
    0%{ background: url("../images/slide1.png");}
    25%{ background: url("../images/slide2.png");}
    50%{ background:url("../images/slide3.png"); }
    75%{ background:url("../images/slide4.png");}
    100%{ background:url("../images/slide1.png");}


}

.div-one:hover{
    /*transform:rotateX(90deg);*/
}
/*.div-two{*/
    /*height:200px;*/
    /*width:20px;*/
    /*background:red;*/
    /*margin:50px 0px 0px 110px;*/
    /*!*border-radius: 50%;*!*/
    /*transform: skew(30deg);*/

    /*float: left;*/
/*}*/

/*.div-three{*/
    /*height:10px;*/
    /*width:150px;*/
    /*margin-top:152px;*/
    /*margin-left:7px;*/
    /*background:red;*/
